@use '@carbon/react';
@use '@carbon/styles';
@use '@carbon/layout';
@use '@carbon/themes';

:root {
  @include styles.theme(styles.$g100);
}

body {
  background: styles.$background;
  color: styles.$text-primary;
  > #root {
    width: 100%;
    height: 100%;
  }
}